[submodule "projects/T-Display-S3_IDF_HelloWorld/components/lvgl"]
	path = projects/T-Display-S3_IDF_HelloWorld/components/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "projects/T-Display-S3_IDF_HelloWorld/components/lvgl_esp32_drivers"]
	path = projects/T-Display-S3_IDF_HelloWorld/components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
